.movie__block {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.movie__list {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2.25rem;
  column-gap: 2.25rem;
  margin-bottom: 2.25rem;
  padding-left: 0;
}

@media only screen and (max-width: 440px) {
  .movie__list {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width: 770px) {
  .movie__list {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

.movie__pagination {
  display: flex;
  justify-content: center;
}
